@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: auto;
}

@layer utilities {
  .container {
    @apply max-w-[90%] 2xl:max-w-[1300px] mx-auto;
  }

  .border-right {
    border-right: 1px solid rgba(128, 128, 128, 0.575);
  }

  .border-bottom {
    border: 1px solid rgba(128, 128, 128, 0.575);
  }

  .product-cards {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 10px;
    scroll-behavior: smooth;
    position: relative;
  }

  .slider {
    scroll-snap-align: start;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    scroll-snap-align: start;
    transition: transform 0.5s ease-in-out;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    width: 100%;
    height: 65%;
    position: relative;
  }

  .product-image {
    height: 80px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: auto;
  }

  .product-card {
    border-radius: 8px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .title::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    top: -20%;
    left: -100%;
    right: 0;
    margin: 0 auto;
    height: 150%;
    width: 10px;
    background-color: #db4444;
  }

  .link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 1px solid gray;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .link:hover:after {
    transform: scaleX(1);
  }

  .btn-primary {
    @apply cursor-pointer bg-red text-white rounded-md px-5 py-3 text-sm  capitalize;
  }

  .btn-dark {
    @apply cursor-pointer bg-dark text-white rounded-md px-5 py-2 text-sm  capitalize;
  }

  .btn-lemon {
    @apply cursor-pointer bg-lemon text-white rounded-md px-5 py-3 text-sm  capitalize;
  }

  .padding-y {
    @apply py-16;
  }

  .product-card:hover .product-btn {
    display: block;
  }
  .extra-width {
    width: calc(3 * 100%);
  }
}
